[push]
	default = upstream
	recurseSubmodules = on-demand
[diff]
	tool = meld
[difftool]
	prompt = false
[merge]
        tool = mymeld
        conflictstyle = diff3
[mergetool "mymeld"]
        cmd = meld $LOCAL $BASE $REMOTE -o $MERGED --auto-merge

[mergetool "vimdiff"]
      cmd = nvim -d $BASE $LOCAL $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'

[alias]
   co = checkout
   last-commit = !git --no-pager log -n 1 --pretty=format:"%H%n" --
   merge-ff = merge --ff-only
   rbi = rebase -i --autosquash --autostash
   root = rev-parse --show-toplevel
   s = status
   sl = status .
   camno = commit --amend --no-edit

[pull]
   ff = only
   rebase = true
   recurse = true
   recurseSubmodules = yes

[pager]
   log  = ~/bin/diff-highlight | less
   show = ~/bin/diff-highlight | less
   diff = ~/bin/diff-highlight | less

[submodule]
  recurse = true

[color]
	ui = auto
[color "diff"]
	frag = cyan
	new = green
	commit = yellow
[color "branch"]
	current = green
[color "status"]
	updated = green

[color "decorate"]
        tag = green

[core]
	excludesfile = ~/.gitignore_global
