[push]
	; default = upstream
	; recurseSubmodules = on-demand
[diff]
	tool = meld
[difftool]
	prompt = false
   trustExitCode = true
[merge]
   tool = mymeld
   conflictstyle = diff3
[mergetool "mymeld"]
   cmd = meld $LOCAL $BASE $REMOTE -o $MERGED --auto-merge

[mergetool "vimdiff4"]
   cmd = nvim -d $BASE $LOCAL $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'
   trustExitCode = true

[difftool "vimdiff3"]
   tool = vimdiff
   trustExitCode = true

[difftool "vimdiff2"]
   cmd = "nvim -d \"$LOCAL\" \"$REMOTE\""

[alias]
   br = branch
   cam   = commit --amend
   camno = commit --amend --no-edit
   co = checkout
   merge-ff = merge --ff-only
   rbi = rebase -i --autosquash --autostash
   rs = restore
   s = status
   sis = status --ignore-submodules
   sl = status .
   stale-branches = "!git branch -vv | grep ': gone]' | tr -s ' ' | awk '{print $1}'"
   sw = switch
   swf = "!git switch $(git branch | fzf)"
   swfa = "!git switch $(git branch -a | fzf)"
   swfzf = "!git switch $(git branch | fzf)"

[pull]
   ; ff = only
   ; rebase = true
   ; recurse = true
   ; recurseSubmodules = yes

[pager]
   log  = ~/bin/diff-highlight | less
   show = ~/bin/diff-highlight | less
   diff = ~/bin/diff-highlight | less

[submodule]
  ; recurse = true

[color]
	ui = auto
[color "diff"]
	frag = cyan
	new = green
	commit = yellow
[color "branch"]
	current = green
[color "status"]
	updated = green

[color "decorate"]
   tag = green

[core]
	excludesfile = ~/.gitignore_global
	editor = vim
[user]
	email = jasilvan@users.noreply.github.com
	name = Jannik Silvanus
