[submodule "dircolors"]
	path = dircolors
	url = https://github.com/seebi/dircolors-solarized.git
[submodule "solarized-colors"]
	path = solarized-colors
	url = https://github.com/altercation/solarized.git
[submodule "powerlevel10k"]
	path = powerlevel10k
	url = https://github.com/romkatv/powerlevel10k.git
[submodule "mutt-colors-solarized"]
	path = mutt-colors-solarized
	url = https://github.com/altercation/mutt-colors-solarized.git
[submodule "nord-alacritty"]
	path = nord-alacritty
	url = https://github.com/arcticicestudio/nord-alacritty
